<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.railwayreservation">

    <application
        android:name=".NotificationChannel"
        android:allowBackup="true"
        android:icon="@drawable/railway_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/railway_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TrainStatusActivity"></activity>
        <activity android:name=".TicketValidationActivity" />
        <activity android:name=".TTEAccountActivity" />
        <activity android:name=".TTELoginActivity" />
        <activity android:name=".CurrentlyBookedActivity" />
        <activity android:name=".ServiceDetailsActivity" />
        <activity android:name=".ServicesListActivity" />
        <activity android:name=".BookTicketActivity" />
        <activity android:name=".AddBalanceActivity" />
        <activity android:name=".EditAccountActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>