<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.railwayreservation">

    <application
        android:allowBackup="true"
        android:icon="@drawable/railway_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/railway_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ModifyTrainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTTEActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TicketValidationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TTEAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TTELoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentlyBookedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServicesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>